<<<<<<< HEAD
<main id ="root">

=======
<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",user: current_user).html_safe %>
  <% end %>
</script>


<main id ="root">
>>>>>>> a6281fa52fc102f3d932dfe9a2acb10af201e194
</main>
