[class^="me-"]{
  margin: 3px 0px;
  font-weight: 500;
  font-size: 14px;
  font-family: Helvetica;
}

[class^="me-"]:hover{
  color: #BB2A27;
}

#me-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 77px;
  width: 175px;
  min-width: 175px;
  height: 230px;
  margin: 0px 50px;
  margin-top: 10px;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 0px 10px;
  color: #262626;
}

.about-me-holder-show {
  display: flex;
}

.about-me-holder-topic {
  display: flex;
  margin: 80%;
}

.me-name{
  font-weight: bold;
}

.fa-github, .fa-linkedin {
  margin: 3px 0px;
  font-size: 16px;
}

.fa-github:hover, .fa-linkedin:hover {
  text-decoration: underline;
  color: #6A9DE6;
}
