[class^="me-"]{
  margin: 3px 0px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Bree', serif;
}

[class^="me-"]:hover{
  color: #BB2A27;
}

#me-container{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 70px;
  width: 175px;
  min-width: 175px;
  height: 250px;
  margin: 0px 50px;
  margin-top: 10px;
  background: white;
  border: 2px solid #E2E2E2;
  padding: 0px 10px;
}

.about-me-holder-show {
  display: flex;
}

.about-me-holder-topic {
  display: flex;
  justify-content: flex-end;
}

.me-name{
  font-weight: bold;
}

.fa-github, .fa-linkedin {
  margin: 3px 0px;
  font-size: 16px;
}

.fa-github:hover, .fa-linkedin:hover {
  text-decoration: underline;
  color: #6A9DE6;
}
