.create-form-footer {
  display: flex;
  justify-content: space-between;
}

.answer-button {
  background: #F1F8FB;
  color: #5D88B8;
  border: 1px solid #BCCADC;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 12px;
  padding: 3px;
  font-family: 'Open Sans', sans-serif;
  align-content: center;
}

.answer-button:hover {
  border: 1px solid #5D88D8;
}

.answer-form{
  display: flex;
  position: relative;
  height: 200px;
  background: white;
  padding: 5px;
  margin: 1px 0px;
}

.answer-form-text {
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  margin-left: 15px;
  width: 75%;
  font-size: 20px;
}

.add-answer-button-create {
  color: white;
  height: 30px;
  font-size: 14px;
  text-align: center;
  width: 50px;
  border-radius: 3px;
  font-family: Arial;
  border: 1px solid #1A63AD;
  background: #3E78AD;
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.add-answer-button-create:hover{
  border: 2px solid #1A63AD;
}

.answer-item {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  padding: 5px 0px;;
  margin: 10px 0px;
  border-top: 1px solid lightgrey;
}

.answer-p{
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Noto', serif;
}

.edit-delete-answer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
}

.answer-edit {
  display: flex;
  font-size: 12px;
  width: 30px;
}

.answer-delete {
  display: flex;
  font-size: 12px;
  width: 60px;
  
}

.answer-edit:hover {
  text-decoration: underline;
  color: #6C1B17;
}

.answer-delete:hover {
  text-decoration: underline;
  color: #6C1B17;
}
