.create-form-footer {
  display: flex;
  justify-content: space-between;
}

.answer-button {
  background: #F1F8FB;
  color: #5D88B8;
  border: 1px solid #BCCADC;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 12px;
  padding: 3px;
  font-family: 'Open Sans', sans-serif;
  align-content: center;
}

.answer-button:hover {
  border: 1px solid #5D88D8;
}

.answer-form{
  display: flex;
  position: relative;
  height: 200px;
  background: white;
  border: 2px solid lightgrey;
  padding: 5px;
  margin: 1px 0px;
}

.answer-form-text {
  resize: none;
  overflow: hidden;
  overflow-wrap: break-word;
  margin-left: 15px;
  width: 75%;
}
