.main-topics {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50px;
  width: 200px;
  min-width: 200px;
  height: 360px;
  left: 5%;
  justify-content: flex-start;
}

.topic-title {
  display: flex;
  color: #888888;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.popular-topic-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.popular-topics {
  margin: 2px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.popular-topics:hover {
  text-decoration: underline;
  font-weight: bold;
}

.topic-title-show {
  font-weight: bold;
  color: #262626;
  text-align: center;
  font-family: 'Bree', serif;
  font-size: 30px;
  margin-top: 10px;
  margin: 15px;
  margin-bottom: 20px;
}

ul {
  width: 100%;
}
