.main-content {
  align-content: center;
  height: 100vh;
  width: 100%;
}

.main-main-content {
  display: flex;
  justify-content: center;
  background: #FAFAFA;
  margin-top: 35px;
}

.main-questions, .topic-main-content{
  position: relative;
  top: 52px;
  justify-content: flex-start;
  width: 53%;
}

.topic-main-content {
  position: relative;
  top: 23px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.main-question-form {
  display: flex;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 1px 0px;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  min-width: 650px;
  box-sizing: border-box;
}

.main-current-user {
  font-family: 'Noto', serif;
  margin: 0 15px;
  font-weight: 500;
}

.main-questions > ul {
  width: 100%;
}

.question-title {
  display: flex;
  margin: 3px 10px;
  font-size: 20px;
  font-family: Georgia;
  color: #262626;
  font-weight: bold;
  overflow-wrap: break-word;
}
.question-title:hover {
  text-decoration: underline;
}

.author-name{
  display: flex;
  margin: 3px 10px;
  font-size: 12px;
  font-weight: 500;
}

.date-class {
  display: flex;
  margin: 3px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999999;
  justify-content: flex-start;
  height: 20px;
  width: 150px;
  min-width: 40%;
}

.date-class > * {
  margin-right: 10px;
}

.question-show-form > .main-question-form > .author-name {
  margin-top: 10px;
}

.question-show-form > .main-question-form {
  width: 100%;
  margin-top: 30px;
}

.question-show-form {
  display: flex;
  position: relative;
  margin-top: 60px;
  margin-left: 20%;
  width: 40%;
  font-size: 25px;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 12px;
  justify-content: space-between;
}

.edit-delete:hover {
  cursor: pointer;
}

.question-edit, .question-delete {
  display: flex;
  font-size: 12px;
  width: 35px;
  background: white;
  z-index: 7;
  padding: 3px;
}

button.question-edit:hover {
  text-decoration: underline;
  color: #3E78AD;
}

button.question-delete:hover {
  text-decoration: underline;
  color: #3E78AD;
}
