.main-page {
  background: #FAFAFA;
}


header.nav-bar {
  top: 10px;
  background: white;
  border-bottom: 3px solid lightgrey;
  height: 40px;
  display: flex;
  align-items: center;
}

nav.full-nav {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Noto', serif;
  font-weight: 500;
  font-size: 25px;
  align-items: center;
}


nav.left-nav {
  display: flex;
  align-items: center;
}

.title {
  color: #BB2A27;
  margin-right: 50px;
  font-weight: 550;
}

[class^="tabs-"] {
  font-size: 20px;
  margin-right: 20px;
  height: 40px;
  display: flex;
  align-items: center;
}

.fa-newspaper:before {
  content: "\f1ea";
  margin-right: 10px;
}

.selected {
  color: #BB2A27;
  border-bottom: 3px solid #BB2A27;
}

.question-search {
  border: 2px solid lightgrey;
  margin-right: 30px;
  width: 300px;
  height: 20px;
}


nav.right-nav {
  display: flex;
  font-size: 15px;
  margin-right: 30px;
  align-items: center;
}

.logout-button {
  padding: 12px;
}

.logout-button:hover {
  color: #BB2A27;
  background: lightgrey;
}
