.main-page {
  background: #FAFAFA;
}


header.nav-bar {
  position: relative;
  top: 10px;
  background: white;
  border-top: 3px solid lightgrey;
  border-bottom: 3px solid lightgrey;
}

nav.full-nav {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 0 auto;
  width: 650px;
  font-family: 'Noto', serif;
  font-weight: 500;
  font-size: 25px;
  align-items: flex-end;
}


nav.left-nav {
  display: flex;
  align-items: flex-end;
}

.title {
  color: #BB2A27;
  margin-right: 50px;
}

.tabs {
  font-size: 20px;
  margin-right: 30px;
}

.tabs:hover {
  background-color: lightgrey;
}


nav.right-nav {
  display: flex;
  font-size: 20px;
}
