.main-page {
  background: #FAFAFA;
  width: 100%;
  height: 100%;
}

header.nav-bar {
  position: fixed;
  top: 0%;
  background: white;
  border-bottom: 3px solid lightgrey;
  height: 50px;
  width: 100%;
  min-width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
}

nav.full-nav {
  position: fixed;
  display: flex;
  background: white;
  width: 70%;
  min-width: 700px;
  height: 50px;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Noto', serif;
  font-weight: 500;
  font-size: 25px;
  align-items: center;
  z-index: 7;
}

nav.left-nav {
  display: flex;
  align-items: center;
  z-index: 7;
}

.title {
  color: #BB2A27;
  margin-right: 50px;
  font-weight: 550;
}

[class^="tabs-"] {
  font-size: 20px;
  margin-right: 20px;
  height: 42px;
  display: flex;
  align-items: center;
}

.fa-newspaper:before {
  content: "\f1ea";
  margin-right: 10px;
}

.selected {
  color: #BB2A27;
  border-bottom: 3px solid #BB2A27;
}

.question-search {
  border: 2px solid lightgrey;
  margin-right: 30px;
  width: 300px;
  height: 20px;
}

.question-search:placeholder {
  font-family: 'Lato', sans-serif;
  color: #858585;
}

nav.right-nav {
  display: flex;
  font-size: 15px;
  margin-right: 30px;
  align-items: center;
  z-index: 7;
}

.logout-button {
  font-family: 'Bree', serif;
  font-size: 16px;
  color: #584848;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
}

.logout-button:hover {
  color: #BB2A27;
  background: lightgrey;
  box-shadow: 4 4 0 0 black;
}

.main-drop-down{
  position: fixed;
  top: 52px;
  border: 2px solid lightgrey;
  background: white;
  z-index: 7;
  padding: 3px
}

.dropDown-background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-profile {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #b72128;
}

.header-profile:hover {
  cursor: pointer
}
