.main-topics {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 85px;
  width: 200px;
  min-width: 200px;
  height: 360px;
  left: 5%;
  justify-content: flex-start;
  text-align: left;
}

.topic-show-page {
  margin-top: 40px;
  background: #FAFAFA;
}

.topic-title {
  display: flex;
  color: #333;
  font-weight: 500;
  font-family: Helvetica;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.popular-topic-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.popular-topics {
  color: #666;
  margin: 5px;
  font-size: 14px;
  font-family: Helvetica;
}

.popular-topics:hover {
  color: #2b6dad;
}

.topic-title-show {
  font-weight: bold;
  color: #262626;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  margin-top: 10px;
  margin: 15px;
  margin-bottom: 20px;
}

ul {
  width: 100%;
}
