#header-modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.question-search-list, .topic-search-list {
  position: absolute;
  z-index: 7;
  display: flex;
  flex-direction: column;
  top: 40px;
  left: 18px;
}

.question-search-div {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid lightgrey;
  box-shadow: rgba(200, 200, 200, 0.3) 0px 1px 1px 0px inset;
  margin-right: 30px;
}

.question-search-item, .question-search-item-no, .topic-search-item {
  display: flex;
  background: white;
  width: 300px;
  min-height: 20px;
  height: 100%;
  padding: 3px;
  border: 1px solid lightgrey;
}

.question-search-item:hover, .topic-search-item:hover {
  text-decoration: underline;
  color: #94B0D0;
}
