.main-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-create {
  width: 100%;
  min-width: 700px;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 2px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.question-create-form {
  margin-top: 10px;
  margin-left: 15px;
  width: 75%;
  height: 30%;
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia;
  overflow-wrap: break-word;
  resize: none;
}

.question-create-form:placeholder, .submit-topic-text:placeholder {
  color: grey;
}


.modal-container {
  display: flex;
  justify-content: center;
}

.question-create-form-modal, .submit-new-topic {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 700px;
  border-radius: 20px;
  border: 1px solid grey;
  font-weight: bolder;
  align-items: flex-start;
}

.modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
}

.closeX {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  color: grey;
}

.closeX:hover {
  color: #2B6DAD;
}

[class^="add-question-button"] {
  color: white;
  height: 30px;
  font-size: 14px;
  text-align: center;
  width: 100px;
  font-weight: 500;
  border-radius: 3px;
  font-family: Helvetica;
}

.add-question-button-create {
  border: 1px solid #1A63AD;
  background: #3E78AD;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.add-question-button-create:hover{
  border: 2px solid #1A63AD;
}

.add-question-button-nav {
  border: 1px solid #6C1B17;
  background: #B92B27;
  margin: 15px;
}
.add-question-button-nav:hover{
  border: 2px solid #6C1B17;
}

.cancel-button {
  position: absolute;
  right: 150px;
  font-size: 14px;
  bottom: 0px;
}
.cancel-button:hover {
  text-decoration: underline;
  color: #B92B27;
  cursor: pointer;
}

span.update-buttons {
  display: flex;
  align-items: center;
}

form.question-create-form-modal {
  position: fixed;
  top: 10px;
  width: 700px;
  z-index: 100;
}
