.header-modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.question-search-list {
  display: none;
  /* position: absolute;
  top: 44px; */
}

.question-search-div {
  position: relative;
}
