.header-modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
