.session-page {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0.5), rgba(0,0,255,0.5)),
  url('http://i.imgur.com/Pj5UfXy.jpg');
  height: 100vh;
  background-size: cover;
}

.session {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
  min-width: 40%;
  width: 40%;
  border: 1px solid grey;
  border-radius: 2px;
  position: relative;
  top: 100px;
  background-color: white;
}

.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 25%;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 10px;
}

.session-form label {
  color: #aaa;
}



.session-title {
  font-family: 'Bree', serif;
  flex-direction: column;
  color: #BB2A27;
  font-size: 50px;
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
}

span#signup, span#login {
  display: flex;
  justify-content: flex-end;
}

span#signup > .session-submit ,
span#login > .session-submit,
.session-demo > .demo-button {
  font-weight: bold;
  background-color: #9CBBD5;
  color: white;
  padding: 5px;
}

.session-errors {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  color: red;
}

.session-errors > li {
  margin: 0 auto;
}

.session-demo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 7px;
}

.session-demo > .demo-button {
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.session-form input {
  display: flex;
  border: 1px solid grey;
  padding: 1px;
  margin: 5px;
  background: lightgray;
  border-radius: 5px;
  color: black;
  padding-left: 10px;
}
