div.topics-form {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.add-topics {
  background: #EDEDF7;
  color: #808293;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 12px;
  padding: 3px;
  width: 40px;
  font-family: 'Open Sans', sans-serif;
  align-content: center;
  display: flex;
  flex-direction: row;
  height: 26px;
}


.add-topics:hover {
  background: #DCDCE2;
}


.topic-tags {
  margin: 0 2px;
  font-size: 14px;
  color: #808293;
  background: #EDEDF7;
  font-weight: 500;
  border-radius: 2px;
  padding: 1px;
  font-family: 'Lato', sans-serif;
  border: 1px solid #d8d8c4;
}

.topic-tags:hover {
  background: #d0d0e8;
}

span.topics-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.submit-new-topic.topics-form {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.submit-new-topic {
  position: absolute;
}

.tag-delete {
  margin: 0 12px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
}

.tag-delete:hover {
  background: #d0d0e8;
}

.all-item-tag {
  display: flex;
  margin: 6px 2px;
  font-family: 'Lato', sans-serif;
  color: #808293;
  background: #FFFFFE;
  align-items: center;
  justify-content: center;
}

.topics-form-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 30%;
  position: relative;
  height: 151px;
  left: 1%;
  top: 0%;
}

button.add-question-button-topic {
  border: 1px solid #1A63AD;
  background: #3E78AD;
  position: absolute;
  bottom: 162px;
  right: 30px;
}

.submit-topic-text {
  margin-left: 15px;
  width: 75%;
  height: 22px;
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid grey;
  border-radius: 2px;
  position: absolute;
  bottom: 165px;
}
.add-question-button-done {
  border: 1px solid #1A63AD;
  background: #3E78AD;
  position: relative;
  left: 82%;
  bottom: 5%;
}

.topic-action-container {
  display: flex;
  justify-content: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 700px;
  border-radius: 20px;
  font-weight: bolder;
  align-items: flex-start;
  position: relative;
  top: 150px;
}

.topic-search-list {
  top: 136px;
  width: 0px;
  left: 40%;
}

.topic-search-item {
  margin: 0;
  font-family: 'Open Sans', sans-serif;;
}

.topic-search-item:hover {
  cursor: pointer;
}

#ul.topics-list{
  width: 100%;
}
