<!DOCTYPE html>
<html>
  <head>
    <title>Korra</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Noto+Serif|Open+Sans|Lato" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
